{% extends 'core/base.html' %}
{% block content %}
  <div class="form-wrapper">
    <div class="form-card">
      <div class="card-body">
        <h4>Delete Post</h4>
        <p>Are you sure you want to delete "<strong>{{ post.title }}</strong>"?</p>
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger w-100">Yes, Delete</button>
          <a href="{% url 'post_list' %}" class="btn btn-secondary w-100 mt-2">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
