{% extends 'core/base.html' %}

{% block content %}
    <div class="form-wrapper">
      <div class="form-card">
        <div class="card-body">
          <div class="card shadow-sm p-4 rounded">
            <h4 class="mb-3 text-center">Post Form</h4>
            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary w-100 mb-2">Save</button>
              <a href="{% url 'post_list' %}" class="btn btn-secondary w-100">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
